.not_success {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--btn-red-color);
	font-size: 16px;
	padding: 10px 12px;
	height: 100%;
	font-weight: bold;
}

.not_found {
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--placeholder);
	padding: 10px 12px;
	height: 100%;
}

.box_statistics {
	overflow: hidden;
	user-select: none;
	border-radius: 10px;
	background-color: var(--box-background);
	box-shadow: 0px 0px 5px 1px var(--box-shadow);
	height: 100%;

	> h1 {
		align-items: center;
		overflow: hidden;
		padding: 4px 9px;
		text-wrap: nowrap;
		text-overflow: ellipsis;
		font-size: 14px;
		min-height: 33px;
		font-weight: 600;
		border-bottom: 1px solid var(--box-border);
	}
	> .search {
		padding: 7px 9px;
		width: 100%;
		height: 39px;
		background-color: var(--box-background);
		border: 2px dotted var(--btn-border);
		border-top: 0px;
		border-bottom: 1px solid var(--box-border);
	}
	> .list {
		position: relative;
		overflow: hidden;
		overflow-y: auto;
		display: flex;
		flex-direction: column;
		padding: 12px;
		gap: 10px;
		height: calc(100% - 33px);
		min-height: 68px;
		border: 2px dotted var(--btn-border);
		border-top: 0px;
		border-bottom: 0px;
		border-radius: 0px 0px 10px 10px;

		> .item {
			position: relative;
			display: flex;
			flex-direction: column;
			gap: 3px;
			transition: 0.1s;

			svg {
				width: 20px;
				height: 20px;
			}

			&.active {
				cursor: pointer;

				&:not(:disabled):active {
					> .body {
						> .block {
							background-color: var(--box-hover);
						}
					}
					> .micro {
						> .block {
							background-color: var(--box-hover);
						}
					}
				}
			}

			> .body {
				display: flex;
				align-items: center;
				gap: 3px;

				&.sub {
					> .block {
						padding: 2px 9px;
						font-size: 14px;
						color: var(--placeholder);
					}
				}

				> .block {
					display: flex;
					overflow: hidden;
					align-items: center;
					gap: 7px;
					padding: 5px 9px;
					font-weight: 500;
					font-size: 15px;
					border: 2px solid var(--btn-border);
					border-radius: 7px;
					background-color: var(--box-background);
					box-shadow: 0px 0px 5px 1px var(--box-shadow);

					&.full {
						flex: 1;
					}

					> p {
						flex: 1;
						overflow: hidden;
						text-wrap: nowrap;
						text-overflow: ellipsis;
					}

					> span {
						flex: 0, 1;
						overflow: hidden;
						text-wrap: nowrap;
						text-overflow: ellipsis;
					}
				}
			}

			> .micro {
				display: flex;
				overflow: hidden;
				align-items: center;
				gap: 3px;

				> .block {
					display: flex;
					overflow: hidden;
					flex-direction: column;
					border: 2px solid var(--btn-border);
					border-radius: 7px;
					box-shadow: 0px 0px 5px 1px var(--box-shadow);

					&.full {
						flex: 1;
					}

					> p {
						text-align: center;
						padding: 1px 7px;
						font-size: 12px;
						font-weight: 450;
						border-bottom: 1px solid var(--placeholder);
					}

					> span {
						text-align: center;
						font-weight: bold;
						inset: 0;
						width: 100%;
						padding: 1px 7px;
						color: white;
						text-shadow:
							-1px 0 black,
							0 1px black,
							1px 0 black,
							0 -1px black;
						overflow: hidden;
						text-wrap: nowrap;
						text-overflow: ellipsis;
						font-weight: bold;

						&.sale {
							background-color: var(--btn-green-color);
						}
						&.swap {
							background-color: var(--btn-yellow-color);
						}
						&.bonus {
							background-color: var(--btn-blue-color);
						}
					}
				}
			}
		}
	}
}
