.overlay {
	z-index: 15;
	user-select: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.5);

	> .content {
		position: relative;
		display: flex;
		flex-direction: column;
		padding: 10px;
		max-width: 850px;
		width: 100svw;

		> .form {
			position: relative;
			overflow: hidden;
			border-radius: 7px;
			background-color: var(--box-background);
			box-shadow: 0px 0px 16px 5px var(--box-shadow);

			> .scroll {
				display: flex;
				flex-direction: column;
				overflow-y: auto;
				padding: 18px 16px;
				max-height: calc(100svh - 65px - 65px);

				> .top {
					text-align: center;
					margin-bottom: 5px;
					font-size: 20px;
					font-weight: 500;
				}

				> .form_map {
					overflow: hidden;
					margin-top: 10px;
					margin-bottom: 10px;
					height: 200px;
					min-height: 200px;
					width: 100%;
					border: 1px solid var(--box-border);
					border-radius: 7px;

					> h1 {
						align-items: center;
						overflow: hidden;
						padding: 4px 9px;
						text-wrap: nowrap;
						text-overflow: ellipsis;
						font-size: 14px;
						min-height: 33px;
						font-weight: 600;
						border-bottom: 1px solid var(--box-border);
					}

					> h1.error {
						color: var(--box-red-color);
					}
					> .body {
						position: relative;
						width: 100%;
						height: calc(100% - 33px);
					}
				}

				> .no_activeMap {
					margin-top: 10px;
					margin-bottom: 10px;
					padding: 7px 9px;
					border: 1px solid var(--box-border);
					border-radius: 7px;
					background-color: var(--box-background);
					color: var(--placeholder);
					min-height: 80px;
				}

				> .button {
					user-select: none;
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 7px;

					> button {
						padding: 7px 9px;
						width: 100%;
						color: white;
						font-size: 15px;
						font-weight: 500;
						text-shadow:
							-0.6px 0 black,
							0 0.6px black,
							0.6px 0 black,
							0 -0.6px black;
						border: 2px solid #00000036;
						border-radius: 7px;
						background-color: var(--btn-blue-color);
						transition: 0.1s;

						&:not(:disabled):active {
							background-color: var(--btn-blue-active);
						}
					}

					> .add {
						background-color: var(--btn-green-color);

						&:not(:disabled):active {
							background-color: var(--btn-green-active);
						}
					}
				}
			}
		}
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fadeIn {
	animation: fadeIn 0.3s ease forwards;
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.fadeOut {
	animation: fadeOut 0.2s ease forwards;
}
