.label {
	user-select: none;
	margin-left: 4px;
	font-size: 14px;
	font-weight: 500;
}
.input {
	overflow: hidden;
	margin-top: 2px;
	display: flex;
	width: 100%;
	padding: 10px 12px;
	background-color: var(--box-blue-input);
	border: 2px solid var(--box-blue-border);
	border-radius: 7px;
	font-size: 16px;
	font-weight: 400;
	outline: none;
	transition: 0.15s;

	&:not(:disabled):focus {
		background-color: var(--box-purple-input);
		border-color: var(--box-purple-border);
	}
}

.label.error {
	color: var(--box-red-color);
}
.input.error {
	background-color: var(--box-red-input);
	border-color: var(--box-red-border);
	&:not(:focus)::placeholder {
		color: var(--box-red-placeholder);
	}
}
